<div class="px-6 pb-8">
    <h2 class="heading-2 font-bold pb-3">Match Info</h2>
    <div
        class="bg-r50 border border-p1 dark:bg-blackN30 dark:border-blackN50 rounded-xl grid grid-cols-2 gap-4 p-5"
        >
        <div class="col-span-1 flex justify-start items-center gap-2">
            <div
                class="bg-white dark:bg-blackN30 dark:border-blackN50 border border-n90 size-8 flex justify-center items-center rounded-full"
                >
                <i class="ph ph-calendar"></i>
            </div>
            <p class="text-sm font-medium">{{ match_info.date }}, {{ match_info.time }}</p>
        </div>
        <div class="col-span-1 flex justify-start items-center gap-2">
            <div
                class="bg-white dark:bg-blackN30 dark:border-blackN50 border border-n90 size-8 flex justify-center items-center rounded-full"
                >
                <i class="ph ph-user"></i>
            </div>
            <p class="text-sm font-medium">{{ match_info.referee }}</p>
        </div>
    </div>
    <div class="flex justify-center items-center w-full mt-3">
        <a href="https://www.betway.com.ng/lobby/casino/?btag=P105314-PR27270-CM93552-TS2010123&"; target="_blank" rel="nofollow">
            <img src="https://secure.betwaypartnersafrica.com/imagehandler/5cd130e5-efc1-4f82-9f0c-08b6534e93a0/" border="0"  alt="" />
        </a>
    </div>
    <div
        class="bg-r50 border border-p1 dark:bg-blackN30 dark:border-blackN50 rounded-xl grid grid-cols-1 gap-4 p-5"
        >
        <div class="col-span-1 flex justify-start items-center gap-2">
            <div
                class="bg-white dark:bg-blackN30 dark:border-blackN50 border border-n90 size-8 flex justify-center items-center rounded-full"
                >
                <i class="ph ph-map-pin"></i>
            </div>
            <p class="text-sm font-medium">{{ match_info.venue }}</p>
        </div>
    </div>
</div>

