<!-- News area start -->
<div class="px-6">
    <p class="text-xl font-semibold">Latest News</p>
    <div class="flex flex-col gap-4 pt-5">
        <div class="flex justify-between items-start gap-4">
            <div class="flex justify-start items-center w-full gap-4">
                <div class="min-w-max">
                    <img
                        src="/static/images/news-img-2.png"
                        alt=""
                        class="rounded-lg overflow-hidden"
                        />
                </div>
                <div class="">
                    <h3 class="text-base font-semibold">
                        Transfer Rumors: Latest Buzz on Football Player Movements
                    </h3>
                    <p class="text-n500 text-xs pt-2">12hr ago</p>
                </div>
            </div>
            <div class="text-xl text-n900">
                <i class="ph-bold ph-dots-three-vertical"></i>
            </div>
        </div>
        <div class="flex justify-between items-start gap-4">
            <div class="flex justify-start items-center w-full gap-4">
                <div class="min-w-max">
                    <img
                        src="/static/images/news-img-1.png"
                        alt=""
                        class="rounded-lg overflow-hidden"
                        />
                </div>
                <div class="">
                    <h3 class="text-base font-semibold">
                        Injury Updates: Current Health Status of Football Stars
                    </h3>
                    <p class="text-n500 text-xs pt-2">12hr ago</p>
                </div>
            </div>
            <div class="text-xl text-n900">
                <i class="ph-bold ph-dots-three-vertical"></i>
            </div>
        </div>
        <div class="flex justify-between items-start gap-4">
            <div class="flex justify-start items-center w-full gap-4">
                <div class="min-w-max">
                    <img
                        src="/static/images/news-img-3.png"
                        alt=""
                        class="rounded-lg overflow-hidden"
                        />
                </div>
                <div class="">
                    <h3 class="text-base font-semibold">
                        Financial Deals: Sponsorships and Investments in Football
                    </h3>
                    <p class="text-n500 text-xs pt-2">12hr ago</p>
                </div>
            </div>
            <div class="text-xl text-n900">
                <i class="ph-bold ph-dots-three-vertical"></i>
            </div>
        </div>
        <div class="flex justify-between items-start gap-4">
            <div class="flex justify-start items-center w-full gap-4">
                <div class="min-w-max">
                    <img
                        src="/static/images/news-img-4.png"
                        alt=""
                        class="rounded-lg overflow-hidden"
                        />
                </div>
                <div class="">
                    <h3 class="text-base font-semibold">
                        Player Updates: Latest Scoop from the World Cup
                    </h3>
                    <p class="text-n500 text-xs pt-2">12hr ago</p>
                </div>
            </div>
            <div class="text-xl text-n900">
                <i class="ph-bold ph-dots-three-vertical"></i>
            </div>
        </div>
    </div>
</div>
<!-- News area end -->