{% extends "app.html" %}
{% load custom_filters %}
{% block title %}{{ news.article.title }} - News - 720scores{% endblock title %}
{% block app %}
<div class="flex justify-between items-center gap-4 px-2">
    <div class="flex justify-start items-center gap-4">
        <a href="{% url 'pc_news' %}" class="relative text-white bg-p1 rounded-full size-10 flex justify-center items-center">
            <i class="ph ph-caret-left text-xl"></i>
        </a>
        <h1 class="heading-1 font-semibold">{{ news_type|title }} details</h1>
    </div>
    <div class="size-10 flex justify-center items-center border border-n30 rounded-full bg-n20 dark:bg-blackN30 cursor-pointer">
        <i class="ph ph-share-network text-xl"></i>
    </div>
</div>

<div class="pt-8 px-2 pb-3">
    <h2 class="heading-2 font-semibold">{{ news.article.title }}</h2>

    <div class="flex justify-start items-center gap-2 text-sm py-5">
        <p>{{ news.article.author.username }}</p> <!-- Assuming the author's name is accessed via the User model -->
        <div class="flex justify-start items-center gap-2 text-p1">
            {% for tag in news.article.category_set.all %}
                <p>#{{ tag.name }}</p> <!-- Assuming tags are in category field -->
            {% endfor %}
        </div>
    </div>

    <div class="flex flex-col gap-5">
        <p class="text-n500 dark:text-blackN500">{{ news.article.content }}</p>

        <div>
            {% if news.article.mainMedia.all %}
                <img src="{{ news.article.mainMedia.all.0.url }}" class="rounded-xl" alt="Article Media">
            {% endif %}
        </div>

        <p class="text-n500 dark:text-blackN500">
            <!-- Here you can render the content block logic if necessary -->
            {% with news.article.content|safe as body_content %}
                {{ body_content }}
            {% endwith %}
        </p>
    </div>
</div>
{% endblock app %}
