{% extends "app.html" %}
{% load custom_filters %}
{% block title %}News - Latest news in the football world{% endblock title %}
{% block app %}
<div class="flex justify-between items-center gap-4 px-2">
    <div class="flex justify-start items-center gap-4">
        <a
            href="{% url 'pc_index' %}"
            class="relative text-white bg-p1 rounded-full size-10 flex justify-center items-center"
        >
        <i class="ph ph-caret-left text-xl"></i>
        </a>
        <h1 class="heading-1 font-semibold">All News</h1>
    </div>
</div>

<!-- Tab List Start -->
<div class="pl-6 pt-8">
    <ul class="flex justify-start items-center gap-3 overflow-auto pb-8 pr-6">
        <li>
            <a
                href="{% url 'pc_news' %}"
                class="px-5 py-2 rounded-lg font-semibold text-base bg-p1 border border-p1 text-white block"
            >News</a>
        </li>
    </ul>
</div>
<!-- Tab List End -->
 <!-- First News Start -->
{% if news.homepageArticles.0.articles %}
{% with news.homepageArticles.0.articles.0 as first_news %}
<div class="px-6">
    <div class="rounded-xl overflow-hidden relative">
        {% if first_news.mainMedia.all %}
            <img src="{{ first_news.mainMedia.all.0.image.url }}" alt="{{ first_news.title }}" class="rounded-xl"/>
        {% endif %}
        <div class="absolute inset-0 bg-black/40"></div>
        <div class="absolute bottom-3 left-4 right-4 text-white font-semibold z-20">
            <div class="flex justify-start items-center gap-3 text-sm font-medium">
                <p>#{{ first_news.category.name }}</p>
                <p class="size-1 bg-white rounded-full"></p>
                <p>{{ first_news.created_at|time_ago }}</p>
            </div>
            <div class="flex justify-between items-start gap-4">
                <a href="{% url 'pc_news_detail' first_news.slug %}">
                    <h2 class="text-lg">{{ first_news.title }}</h2>
                </a>
            </div>
        </div>
    </div>
</div>
{% endwith %}
{% endif %}
<!-- First News End-->

<!-- News List Start -->
<div class="pt-8 px-2">
    <p class="text-xl font-semibold">Latest News</p>
    <div class="flex flex-col gap-4 pt-5">
        {% for article in news.homepageArticles.0.articles %}
        <div class="flex justify-between items-start gap-4">
            <div class="flex justify-start items-center w-full gap-4">
                <div class="w-full">
                    {% if article.mainMedia.all %}
                        <img src="{{ article.mainMedia.all.0.image.url }}" alt="{{ article.title }}" class="rounded-lg overflow-hidden"/>
                    {% endif %}
                </div>
                <div>
                    <a href="{% url 'pc_news_detail' article.slug %}">
                        <h3 class="text-base font-semibold">{{ article.title }}</h3>
                    </a>
                    <p class="text-n500 text-xs pt-2">{{ article.created_at|time_ago }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- News List End -->
{% endblock app %}
