/*!*******************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/style.scss ***!
  \*******************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap);

/*!***********************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/style.scss (1) ***!
  \***********************************************************************************************************************************************************************************/
/*---------------------------------------
    Template Name:   720Scores
    Description:    Sports Live Updates
    Author Name:    Prudent Core NG
    Author URI:     https://prudentcoreng.com
    Version:        1.0
-----------------------------------------
             Table of contents
-----------------------------------------
Tailwind Import
Google font Import
Body Styles
Scrollbar Animation
Typography
Main Container styles
Margin Padding
Circle Wave Animation
Swiper Styles
OTP Styles
Keyframe Animations
---------------------------------------*/
/*! tailwindcss v3.4.3 | MIT License | https://tailwindcss.com*/
/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/
*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/
html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
  tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/
body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr:where([title]) {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/
a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/
button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/
:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/
dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/
textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/
input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/
button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/
img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */
[hidden] {
  display: none;
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 rgba(0, 0, 0, 0);
  --tw-ring-shadow: 0 0 rgba(0, 0, 0, 0);
  --tw-shadow: 0 0 rgba(0, 0, 0, 0);
  --tw-shadow-colored: 0 0 rgba(0, 0, 0, 0);
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 rgba(0, 0, 0, 0);
  --tw-ring-shadow: 0 0 rgba(0, 0, 0, 0);
  --tw-shadow: 0 0 rgba(0, 0, 0, 0);
  --tw-shadow-colored: 0 0 rgba(0, 0, 0, 0);
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

.container {
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 576px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1600px;
  }
}

html {
  scroll-behavior: smooth;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
  line-height: 120%;
}

p {
  line-height: 150%;
}

.display-2 {
  font-size: 40px;
}

.display-3 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.heading-1 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.heading-2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.lead-text {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.m-body {
  font-size: 1rem;
  line-height: 1.5rem;
}

.s-body {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

/* Main Container styles */
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 430px;
}

/* stp = section top padding, sbp= section bottom padding */
/* Faq section start */
/* Modal create */
.modalOpen {
  visibility: visible;
  transform-origin: top;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(1) scaleY(1);
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  opacity: 1;
}

.modalClose {
  visibility: hidden;
  transform-origin: top;
  --tw-scale-x: 0;
  --tw-scale-y: 0;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(0) scaleY(0);
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  opacity: 0;
}

/* How it works border */
.primaryButton {
  width: 100%;
  border-radius: 0.75rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(245, 47, 59, 1);
  border-color: rgba(245, 47, 59, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(245, 47, 59, 1);
  background-color: rgba(245, 47, 59, var(--tw-bg-opacity));
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.primaryButtonOutline {
  width: 100%;
  border-radius: 0.75rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(245, 47, 59, 1);
  border-color: rgba(245, 47, 59, var(--tw-border-opacity));
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgba(245, 47, 59, 1);
  color: rgba(245, 47, 59, var(--tw-text-opacity));
}

/* otp form */
.otp-form-item {
  width: 60px;
  height: 60px;
  border-radius: 0.5rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(196, 196, 196, 1);
  border-color: rgba(196, 196, 196, var(--tw-border-opacity));
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.otp-form-item:focus {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(245, 47, 59, 1);
  border-color: rgba(245, 47, 59, var(--tw-border-opacity));
}

/* Active Tab Item */
.activeTabButton {
  --tw-border-opacity: 1;
  border-color: rgba(245, 47, 59, 1);
  border-color: rgba(245, 47, 59, var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgba(239, 68, 68, 1);
  color: rgba(239, 68, 68, var(--tw-text-opacity));
}

.activeTab {
  animation: fadeDown 0.5s linear;
}

.hiddenTab {
  display: none;
  animation: fadeDown2 0.5s linear;
}

/* Radio Button */
/* logout modal */
.openLogoutModal {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* sidebar modal */
.openSidebarModal {
  --tw-translate-x: 0px;
  transform: translate(0px, var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.closeSidebarModal {
  --tw-translate-x: -100%;
  transform: translate(-100%, var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.sidebarBgOpen {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

/* Select Game Header */
.activeSelectedGame {
  --tw-bg-opacity: 1;
  background-color: rgba(245, 47, 59, 1);
  background-color: rgba(245, 47, 59, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.inactiveSelectedGame {
  --tw-bg-opacity: 1;
  background-color: rgba(236, 236, 236, 1);
  background-color: rgba(236, 236, 236, var(--tw-bg-opacity));
}

.dark .inactiveSelectedGame {
  --tw-bg-opacity: 1;
  background-color: rgba(32, 32, 32, 1);
  background-color: rgba(32, 32, 32, var(--tw-bg-opacity));
}

/* Select Date Header */
.activeSelectDate {
  position: relative;
  --tw-bg-opacity: 1;
  background-color: rgba(254, 234, 235, 1);
  background-color: rgba(254, 234, 235, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(245, 47, 59, 1);
  color: rgba(245, 47, 59, var(--tw-text-opacity));
}

.activeSelectDate::after {
  position: absolute;
  bottom: -2.25rem;
  left: 1.25rem;
  height: 3px;
  width: 1rem;
  border-radius: 9999px;
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgba(245, 47, 59, 1);
  background-color: rgba(245, 47, 59, var(--tw-bg-opacity));
}

.inactiveSelectDate {
  --tw-bg-opacity: 1;
  background-color: rgba(236, 236, 236, 1);
  background-color: rgba(236, 236, 236, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(20, 20, 20, 1);
  color: rgba(20, 20, 20, var(--tw-text-opacity));
}

.dark .inactiveSelectDate {
  --tw-bg-opacity: 1;
  background-color: rgba(32, 32, 32, 1);
  background-color: rgba(32, 32, 32, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

/* test */
.helloWorldList .item .world {
  --tw-text-opacity: 1;
  color: rgba(239, 68, 68, 1);
  color: rgba(239, 68, 68, var(--tw-text-opacity));
}

.helloWorldList .item.active .world {
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, 1);
  color: rgba(0, 0, 0, var(--tw-text-opacity));
}

.radioItems .item .circle-outer {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(142, 142, 142, 1);
  border-color: rgba(142, 142, 142, var(--tw-border-opacity));
  padding: 0.125rem;
}

.radioItems .item .circle-outer .circle-inner {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(142, 142, 142, 1);
  border-color: rgba(142, 142, 142, var(--tw-border-opacity));
}

.radioItems .item.active .circle-outer {
  --tw-border-opacity: 1;
  border-color: rgba(245, 47, 59, 1);
  border-color: rgba(245, 47, 59, var(--tw-border-opacity));
}

.radioItems .item.active .circle-inner {
  --tw-border-opacity: 1;
  border-color: rgba(245, 47, 59, 1);
  border-color: rgba(245, 47, 59, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(245, 47, 59, 1);
  background-color: rgba(245, 47, 59, var(--tw-bg-opacity));
}

.tabItems .item {
  display: block;
  border-radius: 0.5rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(236, 236, 236, 1);
  border-color: rgba(236, 236, 236, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(246, 246, 246, 1);
  background-color: rgba(246, 246, 246, var(--tw-bg-opacity));
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
}

.tabItems .item.active {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(245, 47, 59, 1);
  border-color: rgba(245, 47, 59, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(245, 47, 59, 1);
  background-color: rgba(245, 47, 59, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.visible {
  visibility: visible;
}

.static {
  position: static;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.inset-0 {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.-right-5 {
  right: -1.25rem;
}

.-right-6 {
  right: -1.5rem;
}

.-top-1 {
  top: -0.25rem;
}

.-top-3 {
  top: -0.75rem;
}

.bottom-0 {
  bottom: 0px;
}

.bottom-2 {
  bottom: 0.5rem;
}

.bottom-3 {
  bottom: 0.75rem;
}

.left-0 {
  left: 0px;
}

.left-0\.5 {
  left: 0.125rem;
}

.left-3 {
  left: 0.75rem;
}

.left-4 {
  left: 1rem;
}

.left-\[calc\(100\%-18px\)\] {
  left: calc(100% - 18px);
}

.right-0 {
  right: 0px;
}

.right-2 {
  right: 0.5rem;
}

.right-3 {
  right: 0.75rem;
}

.right-4 {
  right: 1rem;
}

.top-0 {
  top: 0px;
}

.top-0\.5 {
  top: 0.125rem;
}

.top-11 {
  top: 2.75rem;
}

.top-12 {
  top: 3rem;
}

.top-2 {
  top: 0.5rem;
}

.top-3 {
  top: 0.75rem;
}

.-z-10 {
  z-index: -10;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-40 {
  z-index: 40;
}

.z-50 {
  z-index: 50;
}

.z-\[500\] {
  z-index: 500;
}

.z-\[998\] {
  z-index: 998;
}

.z-\[999\] {
  z-index: 999;
}

.col-span-1 {
  grid-column: span 1 / span 1;
}

.col-span-12 {
  grid-column: span 12 / span 12;
}

.col-span-6 {
  grid-column: span 6 / span 6;
}

.m-1 {
  margin: 0.25rem;
}

.-mt-10 {
  margin-top: -2.5rem;
}

.-mt-3 {
  margin-top: -0.75rem;
}

.-mt-8 {
  margin-top: -2rem;
}

.-mt-\[10px\] {
  margin-top: -10px;
}

.-mt-\[11px\] {
  margin-top: -11px;
}

.ml-10 {
  margin-left: 2.5rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mt-12 {
  margin-top: 3rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-8 {
  margin-top: 2rem;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.table {
  display: table;
}

.grid {
  display: grid;
}

.contents {
  display: contents;
}

.hidden {
  display: none;
}

.size-1 {
  width: 0.25rem;
  height: 0.25rem;
}

.size-10 {
  width: 2.5rem;
  height: 2.5rem;
}

.size-11 {
  width: 2.75rem;
  height: 2.75rem;
}

.size-12 {
  width: 3rem;
  height: 3rem;
}

.size-14 {
  width: 3.5rem;
  height: 3.5rem;
}

.size-16 {
  width: 4rem;
  height: 4rem;
}

.size-3 {
  width: 0.75rem;
  height: 0.75rem;
}

.size-32 {
  width: 8rem;
  height: 8rem;
}

.size-4 {
  width: 1rem;
  height: 1rem;
}

.size-5 {
  width: 1.25rem;
  height: 1.25rem;
}

.size-6 {
  width: 1.5rem;
  height: 1.5rem;
}

.size-7 {
  width: 1.75rem;
  height: 1.75rem;
}

.size-8 {
  width: 2rem;
  height: 2rem;
}

.size-9 {
  width: 2.25rem;
  height: 2.25rem;
}

.size-\[120px\] {
  width: 120px;
  height: 120px;
}

.h-0 {
  height: 0px;
}

.h-1 {
  height: 0.25rem;
}

.h-2 {
  height: 0.5rem;
}

.h-5 {
  height: 1.25rem;
}

.h-\[100vh\] {
  height: 100vh;
}

.h-\[300px\] {
  height: 300px;
}

.h-\[80vh\] {
  height: 80vh;
}

.h-full {
  height: 100%;
}

.max-h-\[150px\] {
  max-height: 150px;
}

.max-h-\[500px\] {
  max-height: 500px;
}

.min-h-\[100vh\] {
  min-height: 100vh;
}

.w-0 {
  width: 0px;
}

.w-1 {
  width: 0.25rem;
}

.w-1\/2 {
  width: 50%;
}

.w-10 {
  width: 2.5rem;
}

.w-12 {
  width: 3rem;
}

.w-16 {
  width: 4rem;
}

.w-4 {
  width: 1rem;
}

.w-5 {
  width: 1.25rem;
}

.w-\[100\%\] {
  width: 100%;
}

.w-\[276px\] {
  width: 276px;
}

.w-\[280px\] {
  width: 280px;
}

.w-\[340px\] {
  width: 340px;
}

.w-\[40\%\] {
  width: 40%;
}

.w-\[430px\] {
  width: 430px;
}

.w-\[60\%\] {
  width: 60%;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.w-full {
  width: 100%;
}

.min-w-max {
  min-width: -moz-max-content;
  min-width: max-content;
}

.max-w-\[150px\] {
  max-width: 50%;
}

.shrink-0 {
  flex-shrink: 0;
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer {
  cursor: pointer;
}

.select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.resize {
  resize: both;
}

.grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-8 {
  gap: 2rem;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-y-auto {
  overflow-y: auto;
}

.text-nowrap {
  text-wrap: nowrap;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-2xl {
  border-radius: 1rem;
}

.rounded-\[4px\] {
  border-radius: 4px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.rounded-sm {
  border-radius: 0.125rem;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.rounded-r-xl {
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

.rounded-t-2xl {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.rounded-t-lg {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.rounded-t-xl {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

.border {
  border-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-b-2 {
  border-bottom-width: 2px;
}

.border-t {
  border-top-width: 1px;
}

.border-dashed {
  border-style: dashed;
}

.\!border-p1 {
  --tw-border-opacity: 1 !important;
  border-color: rgba(245, 47, 59, 1) !important;
  border-color: rgba(245, 47, 59, var(--tw-border-opacity)) !important;
}

.border-n30 {
  --tw-border-opacity: 1;
  border-color: rgba(236, 236, 236, 1);
  border-color: rgba(236, 236, 236, var(--tw-border-opacity));
}

.border-n50 {
  --tw-border-opacity: 1;
  border-color: rgba(196, 196, 196, 1);
  border-color: rgba(196, 196, 196, var(--tw-border-opacity));
}

.border-n500 {
  --tw-border-opacity: 1;
  border-color: rgba(74, 74, 74, 1);
  border-color: rgba(74, 74, 74, var(--tw-border-opacity));
}

.border-n90 {
  --tw-border-opacity: 1;
  border-color: rgba(142, 142, 142, 1);
  border-color: rgba(142, 142, 142, var(--tw-border-opacity));
}

.border-p1 {
  --tw-border-opacity: 1;
  border-color: rgba(245, 47, 59, 1);
  border-color: rgba(245, 47, 59, var(--tw-border-opacity));
}

.border-r75 {
  --tw-border-opacity: 1;
  border-color: rgba(251, 170, 175, 1);
  border-color: rgba(251, 170, 175, var(--tw-border-opacity));
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgba(255, 255, 255, 1);
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
}

.bg-\[\#77ED8B\] {
  --tw-bg-opacity: 1;
  background-color: rgba(119, 237, 139, 1);
  background-color: rgba(119, 237, 139, var(--tw-bg-opacity));
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}

.bg-black\/30 {
  background-color: rgba(0, 0, 0, 0.3);
}

.bg-black\/40 {
  background-color: rgba(0, 0, 0, 0.4);
}

.bg-n20 {
  --tw-bg-opacity: 1;
  background-color: rgba(246, 246, 246, 1);
  background-color: rgba(246, 246, 246, var(--tw-bg-opacity));
}

.bg-n30 {
  --tw-bg-opacity: 1;
  background-color: rgba(236, 236, 236, 1);
  background-color: rgba(236, 236, 236, var(--tw-bg-opacity));
}

.bg-n30\/60 {
  background-color: rgba(236, 236, 236, 0.6);
}

.bg-n40 {
  --tw-bg-opacity: 1;
  background-color: rgba(224, 224, 224, 1);
  background-color: rgba(224, 224, 224, var(--tw-bg-opacity));
}

.bg-n50 {
  --tw-bg-opacity: 1;
  background-color: rgba(196, 196, 196, 1);
  background-color: rgba(196, 196, 196, var(--tw-bg-opacity));
}

.bg-n900 {
  --tw-bg-opacity: 1;
  background-color: rgba(20, 20, 20, 1);
  background-color: rgba(20, 20, 20, var(--tw-bg-opacity));
}

.bg-n900\/60 {
  background-color: rgba(20, 20, 20, 0.6);
}

.bg-o300 {
  --tw-bg-opacity: 1;
  background-color: rgba(254, 161, 31, 1);
  background-color: rgba(254, 161, 31, var(--tw-bg-opacity));
}

.bg-p1 {
  --tw-bg-opacity: 1;
  background-color: rgba(245, 47, 59, 1);
  background-color: rgba(245, 47, 59, var(--tw-bg-opacity));
}

.bg-r50 {
  --tw-bg-opacity: 1;
  background-color: rgba(254, 234, 235, 1);
  background-color: rgba(254, 234, 235, var(--tw-bg-opacity));
}

.bg-teal-500 {
  --tw-bg-opacity: 1;
  background-color: rgba(20, 184, 166, 1);
  background-color: rgba(20, 184, 166, var(--tw-bg-opacity));
}

.bg-transparent {
  background-color: transparent;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-2\.5 {
  padding: 0.625rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.p-6 {
  padding: 1.5rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.py-0\.5 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-12 {
  padding-bottom: 3rem;
}

.pb-14 {
  padding-bottom: 3.5rem;
}

.pb-16 {
  padding-bottom: 4rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-20 {
  padding-bottom: 5rem;
}

.pb-24 {
  padding-bottom: 6rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.pl-7 {
  padding-left: 1.75rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.pt-0 {
  padding-top: 0px;
}

.pt-0\.5 {
  padding-top: 0.125rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pt-10 {
  padding-top: 2.5rem;
}

.pt-12 {
  padding-top: 3rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pt-32 {
  padding-top: 8rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pt-7 {
  padding-top: 1.75rem;
}

.pt-8 {
  padding-top: 2rem;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: right;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-6xl {
  font-size: 3.75rem;
  line-height: 1;
}

.text-\[30px\] {
  font-size: 30px;
}

.text-\[40px\] {
  font-size: 40px;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.text-n500 {
  --tw-text-opacity: 1;
  color: rgba(74, 74, 74, 1);
  color: rgba(74, 74, 74, var(--tw-text-opacity));
}

.text-n90 {
  --tw-text-opacity: 1;
  color: rgba(142, 142, 142, 1);
  color: rgba(142, 142, 142, var(--tw-text-opacity));
}

.text-n900 {
  --tw-text-opacity: 1;
  color: rgba(20, 20, 20, 1);
  color: rgba(20, 20, 20, var(--tw-text-opacity));
}

.text-o300 {
  --tw-text-opacity: 1;
  color: rgba(254, 161, 31, 1);
  color: rgba(254, 161, 31, var(--tw-text-opacity));
}

.text-p1 {
  --tw-text-opacity: 1;
  color: rgba(245, 47, 59, 1);
  color: rgba(245, 47, 59, var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.opacity-0 {
  opacity: 0;
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
}

.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.blur {
  --tw-blur: blur(8px);
  filter: blur(8px) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.invert {
  --tw-invert: invert(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) invert(100%) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-500 {
  transition-duration: 500ms;
}

/* body styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  -webkit-tap-highlight-color: transparent;
  color: #0e0d39;
}

/* Scrollbar Animation */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  height: 2px;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
  height: 4px;
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #ec604f;
  border-radius: 3px;
  height: 2px;
}

/* Circle Wave Animation */
.wave-animation {
  z-index: 49;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 140px;
  border-radius: 100%;
  color: white;
  position: relative;
}

@keyframes waves {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  50% {
    opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  }

  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}

.waves {
  position: absolute;
  width: 204px;
  height: 204px;
  background: #feeaeb;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  border-radius: 100%;
  z-index: -1;
  animation: waves 3s ease-in-out infinite;
}

.wave-1 {
  animation-delay: 0s;
}

.wave-2 {
  animation-delay: 0.4s;
}

.wave-3 {
  animation-delay: 0.8s;
}

/* swiper */
.bottom-steps-slider .swiper-pagination {
  margin-top: 28px !important;
  position: relative !important;
}

.bottom-steps-slider .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background-color: #f52f3b;
}

.bottom-steps-slider .swiper-pagination-bullet-active {
  background-color: #f52f3b;
  width: 20px;
  height: 6px;
  border-radius: 3px;
}

/* OTP */
.checkbox.style-c input:checked~.checkbox__checkmark {
  background-color: #f52f3b;
}

.checkbox.style-c input:checked~.checkbox__checkmark:after {
  opacity: 1;
}

.checkbox.style-c:hover input~.checkbox__checkmark {
  background-color: #eee;
}

.checkbox.style-c:hover input:checked~.checkbox__checkmark {
  background-color: #f52f3b;
}

/* Keyframe animation */
.circle {
  animation: circleAnimation 15s linear infinite;
}

.zoomInOut {
  animation: zoomInOutAnimation 10s linear infinite;
}

.jumping1 {
  animation: jumpingImage1 3s linear infinite;
}

.jumping2 {
  animation: jumpingImage2 3s linear infinite;
}

.slideRight {
  animation: slideRight 3s linear infinite;
}

.slideLeft {
  animation: slideLeft 3s linear infinite;
}

.animationTwo {
  animation: fadeDown2 0.5s linear;
}

.lineAnimation {
  animation: line 3s;
}

.animationOne {
  animation: fadeDown 0.5s linear;
}

@keyframes circleAnimation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes zoomInOutAnimation {
  50% {
    transform: scale(0.9);
  }
}

@keyframes jumpingImage1 {
  50% {
    transform: translateY(10px);
  }
}

@keyframes jumpingImage2 {
  50% {
    transform: translateY(-10px);
  }
}

@keyframes slideRight {
  50% {
    transform: translateX(10px);
  }
}

@keyframes slideLeft {
  50% {
    transform: translateX(-10px);
  }
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeDown2 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes line {
  0% {
    width: 0%;
  }

  100% {
    width: auto !important;
  }
}

.placeholder\:text-sm::-moz-placeholder {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.placeholder\:text-sm::placeholder {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.placeholder\:text-n500::-moz-placeholder {
  --tw-text-opacity: 1;
  color: rgba(74, 74, 74, 1);
  color: rgba(74, 74, 74, var(--tw-text-opacity));
}

.placeholder\:text-n500::placeholder {
  --tw-text-opacity: 1;
  color: rgba(74, 74, 74, 1);
  color: rgba(74, 74, 74, var(--tw-text-opacity));
}

.placeholder\:text-n90::-moz-placeholder {
  --tw-text-opacity: 1;
  color: rgba(142, 142, 142, 1);
  color: rgba(142, 142, 142, var(--tw-text-opacity));
}

.placeholder\:text-n90::placeholder {
  --tw-text-opacity: 1;
  color: rgba(142, 142, 142, 1);
  color: rgba(142, 142, 142, var(--tw-text-opacity));
}

.after\:absolute::after {
  content: var(--tw-content);
  position: absolute;
}

.after\:left-\[7px\]::after {
  content: var(--tw-content);
  left: 7px;
}

.after\:top-\[2px\]::after {
  content: var(--tw-content);
  top: 2px;
}

.after\:h-\[12px\]::after {
  content: var(--tw-content);
  height: 12px;
}

.after\:w-\[5px\]::after {
  content: var(--tw-content);
  width: 5px;
}

.after\:rotate-45::after {
  content: var(--tw-content);
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(45deg) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.after\:border-b-\[2px\]::after {
  content: var(--tw-content);
  border-bottom-width: 2px;
}

.after\:border-l-0::after {
  content: var(--tw-content);
  border-left-width: 0px;
}

.after\:border-r-\[2px\]::after {
  content: var(--tw-content);
  border-right-width: 2px;
}

.after\:border-t-0::after {
  content: var(--tw-content);
  border-top-width: 0px;
}

.after\:opacity-0::after {
  content: var(--tw-content);
  opacity: 0;
}

.after\:duration-500::after {
  content: var(--tw-content);
  transition-duration: 500ms;
}

.focus-within\:border-p1:focus-within {
  --tw-border-opacity: 1;
  border-color: rgba(245, 47, 59, 1);
  border-color: rgba(245, 47, 59, var(--tw-border-opacity));
}

.focus-within\:bg-r50:focus-within {
  --tw-bg-opacity: 1;
  background-color: rgba(254, 234, 235, 1);
  background-color: rgba(254, 234, 235, var(--tw-bg-opacity));
}

.dark .dark\:block {
  display: block;
}

.dark .dark\:hidden {
  display: none;
}

.dark .dark\:border-black {
  --tw-border-opacity: 1;
  border-color: rgba(0, 0, 0, 1);
  border-color: rgba(0, 0, 0, var(--tw-border-opacity));
}

.dark .dark\:border-blackN30 {
  --tw-border-opacity: 1;
  border-color: rgba(32, 32, 32, 1);
  border-color: rgba(32, 32, 32, var(--tw-border-opacity));
}

.dark .dark\:border-blackN50 {
  --tw-border-opacity: 1;
  border-color: rgba(62, 62, 62, 1);
  border-color: rgba(62, 62, 62, var(--tw-border-opacity));
}

.dark .dark\:bg-black {
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}

.dark .dark\:bg-blackN30 {
  --tw-bg-opacity: 1;
  background-color: rgba(32, 32, 32, 1);
  background-color: rgba(32, 32, 32, var(--tw-bg-opacity));
}

.dark .dark\:bg-blackN40 {
  --tw-bg-opacity: 1;
  background-color: rgba(46, 46, 46, 1);
  background-color: rgba(46, 46, 46, var(--tw-bg-opacity));
}

.dark .dark\:bg-blackN60 {
  --tw-bg-opacity: 1;
  background-color: rgba(88, 88, 88, 1);
  background-color: rgba(88, 88, 88, var(--tw-bg-opacity));
}

.dark .dark\:bg-n900 {
  --tw-bg-opacity: 1;
  background-color: rgba(20, 20, 20, 1);
  background-color: rgba(20, 20, 20, var(--tw-bg-opacity));
}

.dark .dark\:bg-white\/20 {
  background-color: rgba(255, 255, 255, 0.2);
}

.dark .dark\:text-black {
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, 1);
  color: rgba(0, 0, 0, var(--tw-text-opacity));
}

.dark .dark\:text-blackN500 {
  --tw-text-opacity: 1;
  color: rgba(182, 182, 182, 1);
  color: rgba(182, 182, 182, var(--tw-text-opacity));
}

.dark .dark\:text-n90 {
  --tw-text-opacity: 1;
  color: rgba(142, 142, 142, 1);
  color: rgba(142, 142, 142, var(--tw-text-opacity));
}

.dark .dark\:text-white {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

/* HTML: <div class="loader"></div> */
.loader-720 {
  font-weight: bold;
  font-family: monospace;
  font-size: 58px;
  display: none;
  margin: 0 auto;
  padding: 20px;
  position: fixed;
  z-index: 10;
}

.loader-720:before,
.loader-720:after {
  content: "720Scores...";
  grid-area: 1/1;
  -webkit-mask: linear-gradient(90deg, #000 50%, #0000 0) 0 50%/2ch 100%;
  animation: l29 2s infinite;
}

.loader-720:after {
  -webkit-mask-position: 1ch 50%;
  --s: -1;
}

@keyframes l29 {
  80%, 100% {
    transform: rotate(calc(var(--s, 1)*1turn))
  }
}